<div class="mdc-drawer-app-content @(ContainsAppBar ? string.Empty : "mdc-top-app-bar--fixed-adjust") @Class" @attributes="@ExtraAttributes">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>