<main id="main-content" class="main-content @Class" @attributes="@ExtraAttributes">
    @if (Parent.ContainsAppBar)
    {   
        <div class="mdc-top-app-bar--fixed-adjust">
            @ChildContent
        </div>
    }
    else
    {
        @ChildContent
    }
</main>